<% layout('layout'); %>
<% if (typeof user !== 'undefined') { %>
    <a href="/create" class="submit">投稿</a>
    <a href="/logout" class="btn">ログアウト</a>
    <span class="login-user">ログイン中</span>
<% } else { %>
<% } %>
<ul class="main-list clearfix">
    <% selectBoardList.forEach(function(boardItem) { %>
        <li class="main-list__item" data-genre-id="<%= boardItem.genre_id %>">
            <a href="/boards/<%= boardItem.board_id %>" class="board">
                <div class="board__thumb" style="background-image: url(<%= boardItem.image_path %>);"></div>
                <div class="board__info">
                    <p class="board__title"><%= boardItem.board_title %></p>
                    <p class="board__article"><%= boardItem.article %></p>
                    <div class="board__bottom clearfix">
                        <p class="board__genre"><%= boardItem.genre %></p>
                        <p class="board__date"><%= boardItem.created_at %></p>
                    </div>
                </div>
            </a>
        </li>
    <% }); %>
</ul>

